<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}RiskAtlas{% endblock %}</title>

    <!-- Meta -->
    <meta name="description"
        content="RiskAtlas - Yapay Zekâ Destekli Deprem Analiz ve Erken Uyarı Sistemi">

    <meta name="theme-color" content="#111827">

    <!-- PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <link rel="icon"
        href="{{ url_for('static', filename='icon.png') }}">

    <!-- Manifest -->
    <link rel="manifest"
        href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-sA+4psJQjYp7pRoZlGJPD7W82dManIeZDV4A1Jp3p3s="
        crossorigin="">

    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Ortak CSS -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Sayfaya Özel CSS -->
    {% block page_css %}
    {% endblock %}

</head>

<body>

    <!-- Klavye ve ekran okuyucu kullanıcıları için -->
    <a href="#main-content" class="skip-link">
        İçeriğe Geç
    </a>

    <main id="main-content">

        {% block content %}
        {% endblock %}

    </main>

    <!-- Leaflet -->
    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>

    <!-- Ortak JavaScript -->
    <script defer
        src="{{ url_for('static', filename='js/app.js') }}">
    </script>

    <!-- Sayfaya Özel JavaScript -->
    {% block page_js %}
    {% endblock %}

</body>

</html>
